*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}
.container {
    width: 100%;
    min-height: 100vh;
    padding: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
  background: linear-gradient(135deg,#92aee8,#4e085f);
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: xxx-large;
}
#to_do {
  height: 50px;
  width: 300px;
  border-radius: 10px;
}
#add_button {
  background-color: rgb(69, 69, 192);
  border-radius: 10px;
  height: 50px;
  width: 100px;
  font-size: x-large;
  box-shadow: 10px 10px 5px black;

  /* transition: ; */
}

#add_button:hover {
  scale: 1.05;
}
#list_items {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}
/* ul {
    margin: 0;
    padding: 0;
    } */

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  /* background: #eee; */
  font-size: 18px;
  /* transition: 0.2s; */
}

/* ul li:nth-child(odd) {
        background: #512f2f;
    } */

ul li:hover {
  background: #d97b7b;
  border-radius: 10px;
  scale: 1.1;
  transition: 0.2s;
}

ul li.checked {
  /* background: #888; */
  color: #fff;
  text-decoration: line-through;
}
